 @use './font';

* {
  // outline: solid red 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e0841d;
  color: #fff;
  font-family: typewriter;
  font-display: optional;
  background-image: url('../img/dwight_schrute_org.png');
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes spin {
  50% {transform: rotate(720deg);}
}
#loading {
  width: fit-content;
  margin: 0 auto;
  animation: spin 1.5s infinite;
  img {
    width: 50px;
  }
}

header {
width: 100%;
margin-top: 2rem;
  h1 {    
    font-size: 3rem;
    
    span {
      display: block;
      font-size: 2rem;
    }
  }
  nav {
    margin: 2rem auto;
    max-width: 768px;
  }
}

li > button {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 0px 5px #fff;
}

#rnd__quote {
  max-width: 550px;
  margin: 5rem auto;
  padding: 1rem ;
  span {
    display: block;
    text-align: right;
    margin-top: 0.5rem;
  }
}

#quotes {
  li {
    max-width: 500px;
    list-style: none;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }
}

.list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;    
  list-style: none;
}

#about {
  margin: 2.5rem auto;
  max-width: 500px;
  padding: 1rem;
}

footer {
  margin-top: auto;
  padding: 0.75rem 0;
  span {
    display: block;
    font-size: 0.9rem;
  }
}

.hidden {
display: none;
}
a, a:visited, a:active {
  text-decoration: none;
  color: #fff;
}